/* blog.css */

* {
	font-family: Century Gothic, sans-serif;
}

body {
	width: 600px;
	background-color: #f7f7f7;
	margin: 0 auto;
}

hr {

}

a {
	text-decoration: none;
}

#header {
	padding-top: 30px;
	text-align: center;
	font-size: 2.5em;
	color: #3b5998;
	text-decoration: none;
}

#navbar {
	padding-top: 10px;
	padding-bottom: 5px;
}

.navbar_link {
	display: inline-block;
	padding-right: 15px;
	color: #FF6600;
	text-decoration: none;
}

.navbar_link:hover {
	/*color: #E1D4C0;*/
	color: #000000;
}

.post_header {
	width: 100%;
	position: relative;
	display: block;
}

.post_subject {
	font-size: 1.4em;
	color: #447294;
	float: left;
	position: absolute;
	bottom: 2px;
}

.post_created {
	font-size: .8em;
	color: #8FBCDB;
	float: right;
	position: absolute;
	bottom: 4px;
	right: 0px;
}

.post_content {
	font-size: 1em;
	text-align: left;
}


#new_post_header {

	font-size: 1.5em;
}

.post_label {
	font-weight: bold;
	font-size: 1em;
}

.error_message {
	color: red;
}

table {
	width: 100%;
}

#about_me_text_cell {
	text-align: justify;
	vertical-align: top;
	padding-right: 10px;
}

img {
	height: 200px;
	width: 200px;
}

#about_me_img_cell {

	text-align: right;
}




