/* blog.css */
/*
colors
background: #f7f7f7;
title header: #3b5998;
links color: #FF6600;
post subject: #447294;
post date: #8FBCDB;

*/

* {
	font-family: Century Gothic, sans-serif;
}

body {
	width: 600px;
	background-color: #f7f7f7;	
	margin: 0 auto;
	padding:0;

}

hr {
}

a {
	text-decoration: none;
}

#header {
	padding-top: 30px;
	text-align: center;
	font-size: 2.5em;
	color: #3b5998;
	text-decoration: none;
}

#navbar {
	padding-top: 10px;
	padding-bottom: 5px;
}

.navbar_link {
	display: inline-block;
	padding-right: 15px;
	color: #FF6600;
	text-decoration: none;
}

.navbar_link:hover {
	/*color: #E1D4C0;*/
	color: #000000;
}

.rightnavbar_link {
	float: right;
}

.post_header {
	width: 100%;
	position: relative;
}

.post_subject {
	font-size: 1.4em;
	color: #447294;
	float: left;
	position: absolute;
	bottom: 2px;
}

.post_created {
	font-size: .8em;
	color: #8FBCDB;
	position: absolute;
	bottom: 4px;
	right: 0px;
}

.post_content {
	font-size: 1em;
	text-align: left;
}

.post_label {
	font-weight: bold;
	font-size: 1em;
}

.post_label input[type=text] {
	width: 300px;
}

.error_message {
	color: red;
}

.about_me_table {
	width: 100%;
}

#about_me_text_cell {
	text-align: justify;
	vertical-align: top;
	padding-right: 10px;
}

img {
	height: 200px;
	width: 200px;
}

#about_me_img_cell {

	text-align: right;
}

.sub_header {
	font-size: 1.5em;
}
/*
.signup_table {
	border: 5px solid;
}

tr {
	border: 5px solid;
}

td {
	border: 5px solid;
}
*/

.signup_label {
	width: 150px;
}

.signup_input {
	width: 110px;
}

.signup_error {
	text-align: left;
	width: 250px;
	padding-left: 5px;
	color: red;
}

.signup_button {
}

input[type=submit] {
	border-radius: 3px;
	border: 1px solid black;
	font-size: 1em;
	text-align: center;
	height: 30px;
	width: 80px;
	color: white;
	background-color: #FF6600;
	padding-left: 0 auto;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #FF7C1F;
}

