/* WRITTEN BY ALDRIN AGANA JULY 2013
Stylesheet for aldrinagana.html 
*/

* {
	background-color: #f7f7f7;
	font-family: Century Gothic, sans-serif;
}

body {
	width: 800px;
	margin: 0 auto;
}

#name {
	font-size: 6em;
	text-align: center;
	margin: 150px 0px 0px 0px;
	color: #154890;
	/*font-weight: bold; */
}

#links {
	text-align: center;
}

.letter {
	margin: -13px;
}

.letter:hover {
	/*color: #6699FF;*/
}

.link {
	font-size: 2em;
	text-align: center;
	text-decoration: none;
	color: #FF6600;
	/*color: #000000;*/
	padding: 0px 20px 0px 20px;
	margin: 0px 20px 0px 20px;
	display: inline-block;
	/*border-top: 2px #6699FF solid; */

}

a:hover {
	text-decoration: none;
	/*color: #E1D4C0;*/
	color: #000000;
}

img {
	margin: 0 auto;
	align: middle;
	height: 150px;
	width: 150px;
}

#qrcode {
	text-align: center;
	margin-top: 20px;
	align: center;
}