
<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" />
		<link rel="shortcut icon" href="/docs/icon.ico">	
		<title>Aldrin Agana</title>

	</head>

	<body>
		<div id="name">
			<span class="letter">A</span>
			<span class="letter">L</span>
			<span class="letter">D</span>
			<span class="letter">R</span>
			<span class="letter">I</span>
			<span class="letter">N</span>
			<span class="letter">&nbsp</span>
			<span class="letter">A</span>
			<span class="letter">G</span>
			<span class="letter">A</span>
			<span class="letter">N</span>
			<span class="letter">A</span>																	
		</div>

		<div id="links">
			<a href="http://github.com/aldrinagana" class="link">GitHub</a>
			<a href="/blog" class="link">Blog</a>
			<a href="/docs/resume.pdf" class="link">R&eacutesum&eacute</a>
			<a href="mailto:aldrinagana@gmail.com" class="link">Email</a>
		</div>
		<!-- 
		<div id="qrcode">
			<img src="http://qrfree.kaywa.com/?l=1&s=8&d=BEGIN:VCARD%0AVERSION:2.1%0AN:Agana;Aldrin%0AFN:Aldrin+Agana%0ATEL;WORK;VOICE:%28510%29366-4162%0AEMAIL;WORK;INTERNET:aldrinagana%40gmail.com%0AEND:VCARD" alt="QRCode"/>
		</div>
		-->
	</body>
</html>