<!-- post.html -->

<!DOCTYPE html>

<div class="post">

	<br>
	<div class="post_header">
		<a href="/blog/{{post.key().id()}}">
			<span class="post_subject">
				{{post.subject}}
			</span>
		</a>
		<span class="post_created">
			{{pst_time.strftime("%b %d, %Y | %r")}}
		</span>
		<hr>	
	</div>

{% if post.coords %}
	<div class="location">
		Location: {{post.location}}
	</div>
	<img class="post_image" src="http://maps.googleapis.com/maps/api/staticmap?markers={{post.coords}}&zoom=13&visual_refresh=true&size=300x300&sensor=false">
{% elif post.location %}
	<span class="location_no_link">
		Location: {{post.location}}
	</span>
{% endif %}

	<pre class="post_content">{{ post._render_text | safe }}</pre>

{% if post.blob_key.content_type == "image/jpeg" %}
	<a href="/serve/{{post.blob_key.key()}}">
		<img class="post_picture" src="/serve/{{post.blob_key.key()}}">
	</a>
	<br>
{% endif %} 

{% if post.blob_key.content_type == "video/quicktime" %}
	<video id="my_video_1" class="video-js vjs-default-skin vjs-control-bar" controls
 	preload="none" width="600" height="400" loop
 	data-setup='{"rotate": 90, "zoom": "1.5"}'>
 	<source src="/serve/{{post.blob_key.key()}}" type='video/mp4'>
	</video>
{% endif %}



	<br>
	
</div>


