{% extends "blogbase.html" %}

{% block content %}
		<form method="post">
   	 		<div class="sub_header">Sign Up</div>
            <br>
            <table class="signup_table">
                <tr>
                    <td class="signup_label">Username</td>
                    <td class="signup_input"><input type="text" name="username" value="{{username}}"></td>
                    <td class="signup_error">{{username_error}}</td>
                </tr>
               
                <tr>
                    <td class="signup_label">Password</td>
                    <td class="signup_input"><input type="password" name="password"]></td>
                    <td class="signup_error">{{password_error}}</td>
                </tr>
                
                <tr>
                    <td class="signup_label">Verify Password</td>
                    <td class="signup_input"><input type="password" name="verify"]></td>
                    <td class="signup_error">{{verify_error}}</td>
                </tr>
                
                <tr>
                    <td class="signup_label">Email (optional)</td>
                    <td class="signup_input"><input type="text" name="email" value="{{email}}"></td>
                    <td class="signup_error">{{email_error}}</td>
                </tr>

                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input class="form_button" type="submit" value="Sign Up"></td>
                </tr>
            </table>
		</form>
	
{% endblock %}