
<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" />
		<title>Aldrin Agana</title>

	</head>

	<body>
		<div id="name">
			<span class="letter">A</span>
			<span class="letter">L</span>
			<span class="letter">D</span>
			<span class="letter">R</span>
			<span class="letter">I</span>
			<span class="letter">N</span>
			<span class="letter">&nbsp</span>
			<span class="letter">A</span>
			<span class="letter">G</span>
			<span class="letter">A</span>
			<span class="letter">N</span>
			<span class="letter">A</span>																	
		</div>

		<div id="links">
			<a href="http://github.com/aldrinagana" class="link">GitHub</a>
			<a href="http://google.com" class="link">Projects</a>
			<a href="http://google.com" class="link">R&eacutesum&eacute</a>
			<a href="mailto:aldrinagana@gmail.com" class="link">Email</a>
		</div>
	</body>
</html>