<!-- base.html, base html page for blog -->

<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="../scripts/script.js"></script>
		<link rel="stylesheet" type="text/css" href="../stylesheets/blog.css" />
		<link rel="shortcut icon" href="/docs/icon.ico" />
		<title>Aldrin's Blog</title>
	<head>

	<body>

	<div id="main">
		<a href="/blog"><div id="header">Aldrin's Blog</div></a>
		
		<div id="navbar">
			<a href="/blog"><span class="navbar_link">Home</span></a>
			<a href="/blog/newpost"><span class="navbar_link">Post</span></a>
			<a href="/blog/places"><span class="navbar_link">Places</span></a>
			<a href="/"><span class="navbar_link">Links</span></a>
			<a href="/blog/me"><span class="navbar_link">About</span></a>
		{% if user %}
			<a href="/blog/logout"><span class="navbar_link rightnavbar_link">Log Out</span></a>
		{% else %}
			<a href="/blog/signup"><span class="navbar_link rightnavbar_link">Sign Up</span></a>
			<a href="/blog/login"><span class="navbar_link rightnavbar_link">Log In</span></a>
		{% endif %}
		</div>

		<br>

		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>

	</body>

</html>