<!-- newpost.html -->

{% extends "blogbase.html" %}

{% block content %}

		<form class="newpostform" method="post" enctype="multipart/form-data">
			<div class="sub_header">New Post</div>
			<br>

			<label class="post_label">Subject
				<br>
				<input type="text" name="subject" placeholder="Subject" value="{{subject}}">
			</label>
			<br>

			<label class="post_label">Location
				<br>
				<input type="text" name="location" placeholder="Name (optional)" value="{{location}}">
			</label>
			<br>

			<label class="post_label">
				<input type="text" name="address" placeholder="Address (optional)" value="{{address}}">
			</label>
			<br>

			<label class="post_label">Picture
				<br>
				<input type="file" name="picture" size="1024">
			</label>
			<br>

			<label class="post_label">Content
				<br>
				<textarea name="content" cols="50" rows="5" placeholder="How was your day?">{{content}}</textarea>
			</label>
			<br>

			<div class="error_message">{{error_message}}</div>
			{% if not error_message %}
				<br>
			{% endif %}
			<input class="form_button" type="submit" value="Post">
		</form>

{% endblock %}

