<!-- newpost.html -->

{% extends "blogbase.html" %}

{% block content %}
		<form method="post">
			<div class="sub_header">New Post</div>
			<br>

			<label class="post_label">Subject
				<br>
				<input type="text" name="subject" placeholder="" value="{{subject}}">
			</label>
			<br>

			<label class="post_label">Content
				<br>
				<textarea name="content" cols="50" rows="5" placeholder="How was your day?">{{content}}</textarea>
			</label>
			<br>

			<div class="error_message">{{error_message}}</div>
			{% if not error_message %}
				<br>
			{% endif %}
			<input type="submit" value="Post">
		</form>

{% endblock %}

