<!-- post.html -->

<div class="post">

	<br>
	<div class="post_header">
		<a href="/blog/{{post.key().id()}}"><span class="post_subject">{{post.subject}}</span></a>
		<span class="post_created">{{pst_time.strftime("%b %d, %Y %r")}}</span>
		<hr>	
	</div>

{% if post.location %}
	<a href="#" class="location_link"><div class="location">Location: {{post.location}}</div></a>
{% endif %}

<!--
{% if post.picture %}
	<img src="/img?entity_id={{post.key().id()}}" height="100px" width="200px">
{% endif %} -->

	<pre class="post_content">{{ post._render_text | safe }}</pre>

{% if post.coords %}
	<img class="post_image" src="http://maps.googleapis.com/maps/api/staticmap?markers={{post.coords}}&zoom=14&size=300x300&sensor=false">
{% endif %}
	<br>
	
</div>


